<form class="form-global form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <p class="form-message">Find user by his email</p>
  <label class="form-label-global" for="email">Text</label>
  <input
    type="email"
    class="form-input-global"
    id="email"
    formControlName="email" />
  <p
    class="text-danger-global"
    *ngIf="(form.controls.email.touched || submitted) && form.controls.email.errors?.['required']">
    Name is required
  </p>
  <button class="button-global submit-button-global" type="submit">
    Search
  </button>
</form>
<div class="users-wrapper">
  <div class="user" *ngFor="let user of users | async">
    <p>{{ user.email }}</p>
    <div>
      <button type="button" class="button-global user-button">Add</button>
    </div>
  </div>
</div>
