<div class="wrapper">
  <div class="button-wrapper">
    <button
      type="button"
      class="button-global"
      [ngClass]="{ active: tabName === 'peek' }"
      (click)="changeTabToPeek()">
      All user in project
    </button>

    <button
      *ngIf="(loggedInUserId$ | async) === (projectId$ | async)"
      type="button"
      class="button-global"
      [ngClass]="{ active: tabName === 'add' }"
      (click)="changeTabToAdd()">
      Add more
    </button>
  </div>

  <form
    class="form-global form"
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    *ngIf="tabName === 'add'; else peek">
    <p class="form-message">Find user by his email</p>

    <label class="form-label-global" for="email">Text</label>

    <input
      type="email"
      class="form-input-global"
      id="email"
      formControlName="email"
      placeholder="Search" />

    <p
      class="text-danger-global"
      *ngIf="(form.controls.email.touched || submitted) && form.controls.email.errors?.['required']">
      Name is required
    </p>

    <button class="button-global submit-button-global" type="submit">
      Search
    </button>
  </form>

  <div class="users-wrapper" *ngIf="tabName === 'add'">
    <p class="user-message" *ngIf="(searchedFilteredUsers$ | async) !== null">
      Only users which aren't added to this project are displayed
    </p>

    <p *ngIf="(searchedFilteredUsers$ | async) === null && submitted">
      loading...
    </p>

    <div class="user" *ngFor="let user of searchedFilteredUsers$ | async">
      <p>{{ user.email }}</p>

      <button
        type="button"
        class="button-global user-button"
        title="Add"
        (click)="onAddUser(user.id)">
        <img src="../../../assets/plus-solid.svg" alt="add" />
      </button>
    </div>
  </div>

  <ng-template #peek>
    <p *ngIf="(projectUsers$ | async) === null">loading...</p>

    <div class="user" *ngFor="let projectUser of projectUsers$ | async">
      <p>{{ projectUser.user.email }}</p>

      <p *ngIf="projectUser.user.id === (projectId$ | async)">Owner</p>

      <button
        type="button"
        *ngIf="
          projectUser.user.id !== (loggedInUserId$ | async) &&
          (loggedInUserId$ | async) === (projectId$ | async)
        "
        class="button-global user-button"
        title="Remove"
        (click)="onRemoveUser(projectUser.user.id)">
        <img src="../../../assets/minus-solid.svg" alt="minus" />
      </button>
    </div>
  </ng-template>
</div>
