<div>
  <div class="row">
    <span
      *ngFor="let column of displayedTableColumns; trackBy: tableColumnTrackBy; let i = index"
      class="{{ 'column header column-' + i }}"
      >{{ column }}</span
    >
  </div>
  <div
    class="row"
    *ngFor="
      let task of tableTask
        | filterByTitle : searchTerm
        | filterByTags : tags
        | sortTasks : sortBy.direction : sortBy.column;
      trackBy: taskTrackBy
    ">
    <span class="column column-0">{{ task.title }}</span>
    <span class="column column-1">{{ task.description }}</span>
    <span class="column column-2">{{ task.columnName }}</span>
    <span class="column column-3">
      @for (tag of task.tags; track tag.id) {
      <span class="tag">{{ tag.name }}</span>
      }
    </span>
    <span class="column column-4">{{ task.createdAt | date }}</span>
    <span class="column column-5">{{ task.updatedAt | date }}</span>
  </div>
</div>
