<nav class="nav">
  <h2 class="logo">KanBan</h2>
  <div class="hamburger">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
  </div>
  <div class="mobile-nav">
    <ul>
      <li>Boards:</li>
      <li *ngFor="let board of boards">
        <span>-</span>
        <button type="button" class="board-list-item-mobile">
          {{ board.name }}
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button-global add-task mobile-nav-button"
          (click)="onForm('board')">
          Add board
        </button>
      </li>
    </ul>
  </div>
</nav>
<app-form
  *ngIf="formService.isFormOpen"
  [selectedBoardId]="selectedBoard?.id ?? ''"
  [selectedColumnId]="selectedColumnId"></app-form>
<main class="main">
  <aside class="boards">
    <h2 class="logo">KanBan</h2>
    <div class="projects">
      <app-accordion
        (boardId)="onSelectBoard($event)"
        [boards]="boards"
        title="Boards"></app-accordion>
    </div>
    <div class="board-button-wrapper">
      <button
        type="button"
        class="button-global board-button"
        (click)="onForm('board')">
        Add board
      </button>
    </div>
  </aside>
  <div class="wrapper">
    <div class="container">
      <p class="selected-board">
        {{ selectedBoard?.name ?? 'selected board' }}
      </p>
      <div class="buttons">
        <button type="button" class="button-global" (click)="onForm('column')">
          Add column
        </button>
      </div>
    </div>
    <div class="tasks" *ngIf="selectedBoard">
      <section class="section" *ngFor="let column of selectedBoard?.columns">
        <div class="section-heading">
          <h2 class="section-title">{{ column.name }}</h2>
          <button type="button" class="context-menu-button">
            <img src="../assets/three-dots-vertical.svg" alt="menu" />
          </button>
          <div class="heading-section-menu">
            <button type="button">Remove</button>
            <button type="button">Edit</button>
          </div>
        </div>
        <button
          type="button"
          class="button-global add-task"
          (click)="onForm('task', column.id)">
          Add task
        </button>
        <div class="cards">
          <div class="card" *ngFor="let task of column.tasks">
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
