<!-- <app-form></app-form> -->
<app-toast></app-toast>
<main class="main">
  <aside class="board-sidebar">
    <h2 class="board-logo">KanBan</h2>
    <div class="board-wrapper">
      <app-accordion
        [projects]="projects$ | async"
        [selectedBoardId]="(selectedBoard$ | async)?.id ?? ''"></app-accordion>
    </div>
    <div class="board-button-wrapper">
      <button
        *ngIf="status === 'ok'"
        type="button"
        class="button-global board-button"
        (click)="onForm('project')">
        Add project
      </button>
    </div>
  </aside>
  <div class="board-details-wrapper">
    <app-board-details
      *ngIf="status === 'ok'"
      [selectedBoard]="selectedBoard$ | async">
      <app-mobile-navigation
        [projects]="projects$ | async"></app-mobile-navigation>
    </app-board-details>
    <div class="loading-wrapper" *ngIf="status === 'loading'">
      <img src="../../assets/fan-solid.svg" alt="fan" class="loading-spinner" />
      <p>Loading...</p>
    </div>
    <div class="loading-wrapper" *ngIf="status === 'error'">
      <h2>Something went wrong! Try later!</h2>
    </div>
  </div>
</main>
