<app-mobile-navigation
  [projects]="(data | async)?.projects"></app-mobile-navigation>
<app-form *ngIf="formService.isFormOpen"></app-form>
<main class="main">
  <aside class="board-sidebar">
    <h2 class="board-logo">KanBan</h2>
    <div class="board-wrapper">
      <app-accordion [projects]="(data | async)?.projects"></app-accordion>
    </div>
    <div class="board-button-wrapper">
      <button
        type="button"
        class="button-global board-button"
        (click)="onForm('project')">
        Add project
      </button>
    </div>
  </aside>
  <div class="board-details-wrapper">
    <app-board-details *ngIf="!isLoading"></app-board-details>
    <div class="loading-wrapper" *ngIf="isLoading">
      <img src="../../assets/fan-solid.svg" alt="fan" class="loading-spinner" />
      <p>Loading...</p>
    </div>
  </div>
</main>
