/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black-color: #000;
  --background-color: #101213; /* darker gray */
  --lighter-background-color: #1d1f20; /* dark gray */
  --button-hover-color: #2e2f31;
  --font-color: #fff;
  --font-color-grey: #aaa;
  --secondary-color: #e8fe93;
  --error-color: #dc3545;

  --rounded: 0.5rem;
  --task-width: 30rem;
  --task-width-mobile: 20rem;
}

body {
  min-height: 100svh;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

button {
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

input {
  font-family: 'Oswald', sans-serif;
}

select {
  font-family: 'Oswald', sans-serif;
}

.button-global {
  background-color: var(--lighter-background-color);
  color: var(--font-color);
  border-radius: var(--rounded);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.button-global.add-task {
  width: 100%;
  max-width: var(--task-width);
}

.button-global:hover {
  background-color: var(--button-hover-color);
}

.form-global {
  width: 20rem;
}

.form-label-global {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.form-wrapper-global {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form-input-global {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.submit-button-global {
  margin-top: 2rem;
  width: 100%;
}

.text-danger-global {
  color: var(--error-color);
}

.text-warning-global {
  color: var(--font-color-grey);
  margin-top: 1rem;
}

.mat-mdc-header-cell {
  font-family: 'Oswald', sans-serif;
}

.mat-mdc-cell {
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 1024px) {
  .form-global {
    position: relative;
    max-width: 500px;
  }
}
