<div class="table-container" *ngFor="let project of projects">
  <div class="project-name-wrapper">
    <h2>{{ project.name }}</h2>
    <app-actions></app-actions>
  </div>
  <mat-table [dataSource]="project.boards">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/', 'project', project.id, 'board', element.id]">
          {{ element.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="columns">
      <th mat-header-cell *matHeaderCellDef>No. columns</th>
      <td mat-cell *matCellDef="let element">{{ element.columns.length }}</td>
    </ng-container>

    <ng-container matColumnDef="tasks">
      <th mat-header-cell *matHeaderCellDef>No. tasks</th>
      <td mat-cell *matCellDef="let element">
        {{ (element | getTasks).length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="subtasks">
      <th mat-header-cell *matHeaderCellDef>No. subtasks</th>
      <td mat-cell *matCellDef="let element">
        {{ (element | getSubtasks).length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <app-actions></app-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </mat-table>
</div>
