<form class="form-global" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-wrapper-global" *ngIf="!isEditing" formGroupName="add">
    <label class="form-label-global" for="subtask-name">Subtask name</label>
    <input
      type="text"
      class="form-input-global"
      id="subtask-name"
      formControlName="name" />
    <p
      class="text-danger-global"
      *ngIf="(getAddControls.name.touched || submitted) && getAddControls.name.errors?.['required']">
      Name is required
    </p>
  </div>

  <div class="form-wrapper-global" *ngIf="isEditing" formGroupName="edit">
    <label class="form-label-global" for="edit-subtask-name"
      >Subtask name</label
    >
    <input
      type="text"
      class="form-input-global"
      id="edit-subtask-name"
      formControlName="name" />
    <p
      class="text-danger-global"
      *ngIf="(getEditControls.name.touched || submitted) && getEditControls.name.errors?.['required']">
      Name is required
    </p>
  </div>

  <button type="submit" class="button-global submit-button-global">
    {{ isEditing ? 'Update' : 'Add ' + 'subtask' }}
  </button>
</form>
