.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--lighter-background-color);
  box-shadow: 0 0 5px var(--background-color);
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--black-color);
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  z-index: 15;
}

.hamburger {
  padding: 1rem;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0.5rem 0;
  z-index: 10;
}

.hamburger-bar {
  background-color: var(--font-color);
  display: block;
  width: 2rem;
  height: 2px;
  margin: 0.5rem 0;
  position: relative;
  transition: background-color 0.3s;
}

.hamburger-bar::after,
.hamburger-bar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  background-color: var(--font-color);
  transition: transform 0.3s, width 0.3s;
}

.hamburger-bar::after {
  width: 1rem;
  transform: translateY(0.6rem) rotate(0);
}

.hamburger-bar::before {
  width: 1.5rem;
  transform: translateY(-0.6rem) rotate(0);
}

.hamburger.close .hamburger-bar::after {
  width: 2rem;
  transform: translateY(0) rotate(45deg);
  transition-delay: 150ms;
}

.hamburger.close .hamburger-bar::before {
  width: 2rem;
  transform: translateY(0) rotate(-45deg);
  transition-delay: 150ms;
}

.hamburger.close .hamburger-bar {
  background-color: transparent;
}

.board-list-item-mobile {
  font-size: 1.5rem;
  border: none;
  background: none;
  color: var(--font-color);
  margin-left: 0.25rem;
}

.mobile-nav-button {
  bottom: 0rem;
  margin-top: 2rem;
}

.logo {
  font-size: 2rem;
}

.boards {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  background-color: var(--black-color);
  padding: 1rem 0 1rem 1rem;
  margin-right: 1rem;
  width: 75vw;
}

.projects {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 1rem;
  height: 100%;
}

.board-button {
  bottom: 0;
  left: 0;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.board-button-wrapper {
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .nav {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .boards {
    width: 25rem;
  }
}
