<div class="navigation-bar">
  <div
    class="navigation-backdrop"
    [@smoothSlide]="!showMenu ? 'initial' : 'final'"
    (click)="onMenu()"></div>
  <h2 class="navigation-logo">KanBan</h2>
  <button
    aria-label="hamburger menu"
    type="button"
    class="hamburger"
    [ngClass]="{ close: showMenu }"
    (click)="onMenu()">
    <span class="hamburger-bar"></span>
  </button>
</div>
<nav
  class="navigation-container"
  [@smoothSlide]="!showMenu ? 'initial' : 'final'">
  <button class="button-global navigation-logout-button" (click)="onLogout()">
    Logout
  </button>
  <div class="navigation-wrapper">
    <app-accordion [projects]="projects"></app-accordion>
  </div>
  <div class="navigation-button-wrapper">
    <button
      type="button"
      class="button-global navigation-button"
      (click)="onForm('project')">
      Add project
    </button>
  </div>
</nav>
