.navigation-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 1rem;
  align-items: center;
  background-color: var(--lighter-background-color);
  box-shadow: 0 0 5px var(--background-color);
  z-index: 15;
  border-radius: var(--rounded);
  margin-top: 1rem;
}

.navigation-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
}

.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100svh;
  padding: 1rem;
  background-color: var(--black-color);
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  z-index: 15;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 75vw;
}

.board-list-item-mobile {
  font-size: 1.5rem;
  border: none;
  background: none;
  color: var(--font-color);
  margin-left: 0.25rem;
}

.navigation-logo {
  font-size: 2rem;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 1rem;
  height: 100%;
}

.navigation-button {
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.navigation-button-wrapper {
  padding-right: 1rem;
}

.hamburger {
  padding: 1rem;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0.5rem 0;
  z-index: 10;
}

.hamburger-bar {
  background-color: var(--font-color);
  display: block;
  width: 2rem;
  height: 2px;
  margin: 0.5rem 0;
  position: relative;
  transition: background-color 0.3s;
}

.hamburger-bar::after,
.hamburger-bar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  background-color: var(--font-color);
  transition: transform 0.3s, width 0.3s;
}

.hamburger-bar::after {
  width: 1rem;
  transform: translateY(0.6rem) rotate(0);
}

.hamburger-bar::before {
  width: 1.5rem;
  transform: translateY(-0.6rem) rotate(0);
}

.hamburger.close .hamburger-bar::after {
  width: 2rem;
  transform: translateY(0) rotate(45deg);
  transition-delay: 150ms;
}

.hamburger.close .hamburger-bar::before {
  width: 2rem;
  transform: translateY(0) rotate(-45deg);
  transition-delay: 150ms;
}

.hamburger.close .hamburger-bar {
  background-color: transparent;
}

@media (min-width: 1024px) {
  .navigation-bar {
    display: none;
  }

  .navigation-container {
    display: none;
  }
}
