.loading-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
  justify-items: center;
}

.spinner {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
