<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="board | getColumns"
  (cdkDropListDropped)="dropColumn($event)"
  class="tasks"
  *ngIf="board">
  <p class="warning-message" *ngIf="board?.columns?.length === 0">
    No columns to display
  </p>
  <section
    [id]="columnWrapper.id"
    class="section"
    *ngFor="let columnWrapper of board?.columns; trackBy: columnWrapperTrackBy">
    <div
      cdkDrag
      [cdkDragDisabled]="(isOwner$ | async) === false"
      [id]="columnWrapper.column.id">
      <div
        class="cdk-drag-placeholder column-placeholder"
        *cdkDragPlaceholder></div>
      <div class="section-heading">
        <div class="section-title-wrapper">
          <span
            [style.background-color]="columnWrapper.column.dotColor"
            class="section-title-circle"></span>
          <h2 class="section-title">
            {{ columnWrapper.column.name }}
            <span class="section-title-task-counter"
              >({{
                (
                  columnWrapper.column.tasks
                  | filterByTitle : searchTerm
                  | filterByTags : tags
                ).length
              }})</span
            >
          </h2>
        </div>
        <app-context-menu
          *ngIf="isOwner$ | async"
          [id]="columnWrapper.column.id"
          [type]="'column'"></app-context-menu>
      </div>
      <app-open-form-button
        [isProtected]="true"
        text="Add task"
        type="task"
        size="wide"
        [parentId]="columnWrapper.column.id"></app-open-form-button>
      <div class="cards">
        <div
          class="card-wrapper"
          cdkDropList
          [cdkDropListData]="columnWrapper.column.tasks"
          [id]="columnWrapper.column.id"
          [cdkDropListConnectedTo]="
            board.columns | getColumnIds : columnWrapper.column.id
          "
          (cdkDropListDropped)="dropTask($event)">
          <p
            class="warning-message card"
            *ngIf="
              (
                columnWrapper.column.tasks
                | filterByTitle : searchTerm
                | filterByTags : tags
              ).length === 0
            ">
            No tasks to display
          </p>
          <div
            cdkDrag
            [id]="task.id"
            class="card"
            *ngFor="
              let task of columnWrapper.column.tasks
                | filterByTitle : searchTerm
                | filterByTags : tags
                | sort : sortBy.direction : sortBy.column;
              trackBy: taskTrackBy
            ">
            <div
              class="cdk-drag-placeholder task-placeholder"
              *cdkDragPlaceholder></div>

            <select class="card-select" (change)="changeColumn($event)">
              <option [value]="undefined">Choose column</option>
              <option
                [value]="column.id"
                *ngFor="
                  let column of board?.columns ?? []
                    | getColumnsWithoutOneSpecific : columnWrapper.column.id;
                  trackBy: columnTrackBy
                ">
                {{ column.name }}
              </option>
            </select>
            <div class="card-tags">
              <span
                *ngFor="let tag of task.tagNames; let i = index"
                [style.background-color]="task.tagBackgroundColors[i]"
                [style.color]="task.tagFontColors[i]"
                >{{ tag }}</span
              >
            </div>
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <div class="card-context-menu">
              <app-context-menu
                [isProtected]="true"
                [id]="task.id"
                [type]="'task'"></app-context-menu>
            </div>
            <div class="card-subtask-wrapper">
              <div
                class="card-subtask"
                *ngFor="let subtask of task.subtasks; trackBy: subtaskTrackBy">
                <div>
                  <input
                    aria-label="subtask"
                    type="checkbox"
                    [id]="subtask.id"
                    [checked]="subtask.isFinished"
                    (change)="onUpdateCompletionStateOfSubtask($event)" />
                  <label [for]="subtask.id">{{ subtask.name }}</label>
                </div>
                <app-context-menu
                  [isProtected]="true"
                  [id]="subtask.id"
                  [type]="'subtask'"></app-context-menu>
              </div>
              <div class="card-subtask-line"></div>
              <div class="card-buttons">
                <app-open-form-button
                  [isProtected]="true"
                  type="subtask"
                  text="Add subtask"
                  [parentId]="task.id"></app-open-form-button>
                <app-open-form-button
                  [isProtected]="true"
                  text="Assign user"
                  type="assign-user"
                  assignUserTabName="assign"
                  [parentId]="task.id"></app-open-form-button>
              </div>
              <div class="card-stats">
                <app-display-number-of-users-in-task
                  [taskId]="task.id"></app-display-number-of-users-in-task>
                <span
                  >{{ showTimeDifference(task.updatedAt) }} |
                  {{ showTimeDifference(task.createdAt) }}</span
                >
              </div>
            </div>
          </div>
          <p
            class="empty-card"
            *ngIf="columnWrapper.column.tasks.length === 1"></p>
        </div>
      </div>
    </div>
  </section>
</div>
