@if ({projects: projects$ | async, projectsError: projectsError$ | async}; as vm) {
<main class="main">
  <app-navigation [showTasksButton]="!!vm.projects && !vm.projectsError"></app-navigation>
  @if (!vm.projects && !vm.projectsError) {
  <app-loading-spinner></app-loading-spinner>
  } @if (vm.projectsError) {
  <span class="block text-center mt-6">{{ vm.projectsError }}</span>
  } @if (vm.projects && !vm.projectsError) {
  <app-project-table [projects]="vm.projects"></app-project-table>
  }
</main>
}
