<app-form></app-form>
<app-context-menu-modal></app-context-menu-modal>
<app-toast></app-toast>
<main
  class="main"
  *ngIf="{
    projects: projects$ | async,
    projectsError: projectsError$ | async
  } as vm">
  <app-navigation
    [showTasksButton]="!!vm.projects && !vm.projectsError"></app-navigation>
  <ul class="projects">
    <div class="button-container">
      <app-open-form-button
        *ngIf="vm.projects && !vm.projectsError"
        type="project"
        text="Add project"></app-open-form-button>
      <div class="mobile-buttons">
        <app-open-form-button
          *ngIf="vm.projects && !vm.projectsError"
          text="Tasks"
          type="see-tasks"></app-open-form-button>
        <app-open-form-button
          text="Profile"
          type="profile"></app-open-form-button>
      </div>
    </div>
    <app-loading-spinner
      [condition]="!vm.projectsError && !vm.projects"></app-loading-spinner>
    <div class="error-message" *ngIf="vm.projectsError as error">
      <h2>{{ error }}</h2>
    </div>
    <li class="message-wrapper" *ngIf="vm.projects?.length === 0">
      No projects to display
    </li>
    <li
      *ngFor="let project of vm.projects; trackBy: projectTrackBy"
      class="table">
      <div class="project-name-wrapper">
        <div class="project-name-container">
          <div class="project-heading">
            <h2>{{ project.name }}</h2>
            <app-context-menu
              *ngIf="project.userId === (loggedInUserId$ | async)"
              [id]="project.id"
              [deleteId]="project.id"
              type="project"
              [isProtected]="false"
              [editingProject]="project"
              whichSide="right"></app-context-menu>
          </div>
          <app-open-form-button
            *ngIf="project.userId === (loggedInUserId$ | async)"
            type="board"
            text="Add board"
            size="compact"
            [parentId]="project.id"></app-open-form-button>
        </div>
      </div>
      <div class="row-header row">
        <span
          *ngFor="let column of columns; let i = index"
          [class]="'column-header column-' + i"
          >{{ column }}</span
        >
      </div>
      <div *ngIf="project.boards.length === 0" class="message-wrapper">
        <p>No boards to display</p>
      </div>
      <div *ngFor="let board of project.boards; trackBy: boardTrackBy">
        <div class="accordion-item">
          <div class="row">
            <div class="column column-0">
              <a [routerLink]="['/', 'project', project.id, 'board', board.id]">
                {{ board.name }}
              </a>
              <app-context-menu
                *ngIf="project.userId === (loggedInUserId$ | async)"
                [id]="board.id"
                whichSide="right"
                [isProtected]="false"
                [editingProject]="project"
                type="board"></app-context-menu>
            </div>
            <span class="column column-1">{{
              (board | getColumns).length
            }}</span>
            <span class="column column-2">{{ (board | getTasks).length }}</span>
            <span class="column column-3">{{
              (board | getSubtasks).length
            }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</main>
