.main {
  width: 100%;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.projects {
  width: 100%;
  list-style-type: none;
  padding: 1rem;
  min-height: 50svh;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-bottom: 0.75rem;
}

.row-header {
  border-bottom: 1px solid var(--font-color);
  margin-bottom: 0.5rem;
}

.column {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
}

.column-0 {
  min-width: 15rem;
  display: flex;
  align-items: center;
}

.column-0 a {
  color: var(--font-color-grey);
}

.column-header {
  font-size: 1.2rem;
}

.project-name-wrapper {
  margin: 1rem 0;
  position: sticky;
  left: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.column-1,
.column-2,
.column-3 {
  display: none;
}

.project-name-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-name-wrapper h2 {
  font-size: 2rem;
  min-width: max-content;
}

.accordion-item {
  color: var(--font-color-grey);
  text-decoration: none;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.75rem;
}

.mobile-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.message-wrapper {
  text-align: center;
  margin: 1rem 0;
  color: var(--font-color-grey);
  font-size: 1.2rem;
}

.error-message {
  text-align: center;
  margin-top: 3rem;
}

.project-heading {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .column-1,
  .column-2,
  .column-3 {
    display: block;
  }

  .row {
    grid-template-columns: repeat(4, 1fr);
    min-width: 45rem;
  }
}

@media (min-width: 1024px) {
  .column {
    font-size: 1.3rem;
  }

  .column-header {
    font-size: 1.4rem;
  }

  .mobile-buttons {
    display: none;
  }
}
