<div
  class="context-menu-backdrop"
  (click)="onToggle('')"
  *ngIf="openedContextMenuOfElementId.length !== 0"></div>
<div class="context-menu-container">
  <button type="button" class="context-menu-button" (click)="onToggle(id)">
    <img src="../../../assets/three-dots-vertical.svg" alt="menu" />
  </button>
  <div
    class="context-menu-body"
    [ngClass]="{
      show: openedContextMenuOfElementId.length !== 0,
      'show-right':
        openedContextMenuOfElementId.length !== 0 && type === 'board'
    }"
    *ngIf="openedContextMenuOfElementId === id">
    <button type="button" class="context-menu-body-button" (click)="delete()">
      Remove
      <img src="../../../assets/trash-fill.svg" alt="" />
    </button>
    <button type="button" class="context-menu-body-button" (click)="edit()">
      Edit
      <img src="../../../assets/pencil-square.svg" alt="" />
    </button>
  </div>
</div>
