<div class="container">
  <ng-content></ng-content>
  <div class="board-name-wrapper">
    <div class="board-name">
      <h2>
        {{ selectedBoard?.name ?? 'Please select a board' }}
      </h2>
      <app-context-menu
        [id]="selectedBoard?.id ?? ''"
        [type]="'board'"
        [editingBoard]="selectedBoard"></app-context-menu>
    </div>
    <button
      type="button"
      class="button-global board-logout-button"
      (click)="onLogout()">
      Logout
    </button>
  </div>
  <div class="buttons" *ngIf="selectedBoard">
    <button
      type="button"
      class="button-global button"
      (click)="onForm('column')">
      Add column
    </button>
  </div>
</div>
<div cdkDropListGroup class="tasks" *ngIf="selectedBoard">
  <p class="warning-message" *ngIf="selectedBoard.columns?.length === 0">
    No columns to display
  </p>
  <section class="section" *ngFor="let column of selectedBoard?.columns">
    <div class="section-heading">
      <div class="section-title-wrapper">
        <span
          [style.background-color]="column.dotColor"
          class="section-title-circle"></span>
        <h2 class="section-title">
          {{ column.name }}
          <span class="section-title-task-counter"
            >({{ column.tasks.length }})</span
          >
        </h2>
      </div>
      <app-context-menu
        [id]="column.id"
        [type]="'column'"
        [editingColumn]="column"></app-context-menu>
    </div>
    <button
      type="button"
      class="button-global add-task"
      (click)="onForm('task', column.id)">
      Add task
    </button>

    <div class="cards">
      <div
        class="card-wrapper"
        cdkDropList
        [cdkDropListData]="column.tasks"
        [id]="column.id"
        (cdkDropListDropped)="drop($any($event))">
        <p class="warning-message card" *ngIf="column.tasks.length === 0">
          No tasks to display
        </p>
        <div
          cdkDrag
          class="card"
          [id]="task.id"
          *ngFor="let task of column.tasks">
          <div class="card-arrow-move">
            <img
              src="../../../assets/arrows-move.svg"
              alt="arrows move"
              cdkDragHandle />
          </div>
          <div class="card-tags">
            <span
              *ngFor="let tag of task.tagNames; let i = index"
              [style.background-color]="task.tagBackgroundColors[i]"
              [style.color]="task.tagFontColors[i]"
              >{{ tag }}</span
            >
          </div>
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
          <div class="card-context-menu">
            <app-context-menu
              [id]="task.id"
              [type]="'task'"
              [editingTask]="task"></app-context-menu>
          </div>
          <div class="card-subtask-wrapper">
            <div class="card-subtask" *ngFor="let subtask of task.subtasks">
              <div>
                <input
                  aria-label="subtask"
                  type="checkbox"
                  [id]="subtask.id"
                  [checked]="subtask.isFinished"
                  (change)="onUpdateCompletionStateOfSubtask($event)" />
                <label [for]="subtask.id">{{ subtask.name }}</label>
              </div>
              <app-context-menu
                [id]="subtask.id"
                [type]="'subtask'"
                [editingSubtask]="subtask"></app-context-menu>
            </div>
            <div class="card-subtask-line"></div>
            <button
              type="button"
              class="button-global card-subtask-button"
              (click)="onForm('subtask', undefined, task.id)">
              <span>+</span> Add subtask
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-context-menu-modal></app-context-menu-modal>
