.board-details {
  width: 100%;
  height: 100%;
}

.board-user {
  font-size: 1rem;
}

.buttons {
  display: flex;
  column-gap: 0.5rem;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  padding: 1rem 1rem 1rem 0;
}

.extended-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-input {
  padding: 0.8rem 0.5rem;
  border-radius: var(--rounded);
  border: none;
  font-size: 1.1rem;
}

.board-name-wrapper {
  margin-top: 1rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.button-container {
  display: none;
}

.board-name {
  display: flex;
  align-items: center;
}

.board-name h2 {
  padding-right: 0.5rem;
}

.warning-message {
  color: var(--error-color);
  text-align: center;
}

.add-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: none;
}

.button {
  margin: 0;
  min-width: max-content;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  padding-right: 1rem;
  background-color: var(--background-color);
}

.add-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .add-people-button-mobile {
    display: none;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .board-details {
    overflow: auto;
    height: 100vh;
  }

  .heading-section-menu {
    position: absolute;
    transform: translateX(-100%);
    display: none;
    width: max-content;
  }

  .heading-section-menu.show {
    display: flex;
    transform: translateX(-50%);
  }

  .heading-section-menu button {
    font-size: 1rem;
  }
}
