<div class="container">
  <div class="board-name">
    <h2>
      {{ selectedBoard?.name ?? 'selected board' }}
    </h2>
    <app-context-menu
      [id]="selectedBoard?.id ?? ''"
      [type]="'board'"
      [editingBoard]="selectedBoard"></app-context-menu>
  </div>
  <div class="buttons">
    <button type="button" class="button-global" (click)="onForm('column')">
      Add column
    </button>
  </div>
</div>
<div class="tasks" *ngIf="selectedBoard">
  <section class="section" *ngFor="let column of selectedBoard?.columns">
    <div class="section-heading">
      <h2 class="section-title">{{ column.name }}</h2>
      <app-context-menu
        [id]="column.id"
        [type]="'column'"
        [editingColumn]="column"></app-context-menu>
    </div>
    <button
      type="button"
      class="button-global add-task"
      (click)="onForm('task', column.id)">
      Add task
    </button>
    <div class="cards">
      <div class="card" *ngFor="let task of column.tasks">
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
      </div>
    </div>
  </section>
</div>
<app-context-menu-modal></app-context-menu-modal>
