<div class="container">
  <h2 class="board-name">
    {{ selectedBoard?.name ?? 'selected board' }}
  </h2>
  <div class="buttons">
    <button type="button" class="button-global" (click)="onForm('column')">
      Add column
    </button>
  </div>
</div>
<div class="tasks" *ngIf="selectedBoard">
  <section class="section" *ngFor="let column of selectedBoard?.columns">
    <div class="section-heading">
      <h2 class="section-title">{{ column.name }}</h2>
      <button type="button" class="context-menu-button">
        <img src="../assets/three-dots-vertical.svg" alt="menu" />
      </button>
      <div class="heading-section-menu">
        <button type="button">Remove</button>
        <button type="button">Edit</button>
      </div>
    </div>
    <button
      type="button"
      class="button-global add-task"
      (click)="onForm('task', column.id)">
      Add task
    </button>
    <div class="cards">
      <div class="card" *ngFor="let task of column.tasks">
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
      </div>
    </div>
  </section>
</div>
