.accordion-list {
  display: none;
  height: 100%;
  margin-left: 1rem;
  list-style-type: none;
}

.accordion-list.show {
  display: block;
}

.accordion-item {
  border: none;
  background: none;
  color: var(--font-color);
  cursor: pointer;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion-item-paragraph {
  cursor: default;
}

.highlight {
  background-color: var(--secondary-color);
  color: var(--black-color);
  border-radius: var(--rounded);
}

.accordion-item-button {
  padding: 0.25rem 1rem;
  margin-top: 0.5rem;
}

.accordion-item-button span {
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .accordion-item {
    font-size: 1.2rem;
  }
}
