<div class="row">
  <span
    *ngFor="let column of displayedTableColumns; let i = index"
    class="{{ 'column column-' + i + ' header' }}"
    >{{ column }}</span
  >
</div>
<div class="row" *ngFor="let task of tableTask$ | async">
  <span class="column column-0">{{ task.title }}</span>
  <span class="column column-1">{{ task.description }}</span>
  <span class="column column-2">{{ task.columnName }}</span>
  <span class="column column-3"
    ><span *ngFor="let tagName of task.tagNames">{{ tagName + ' ' }}</span>
  </span>
  <span class="column column-4">{{ task.createdAt | date }}</span>
  <span class="column column-5">{{ task.updatedAt | date }}</span>
</div>
