<div *ngIf="tableTask$ | async as tasks">
  <div class="row">
    <span
      *ngFor="let column of displayedTableColumns; let i = index"
      class="{{ 'column header column-' + i }}"
      >{{ column }}</span
    >
  </div>
  <div
    class="row"
    *ngFor="
      let task of tasks | filterByTitle : searchTerm | filterByTags : tags
    ">
    <span class="column column-0">{{ task.title }}</span>
    <span class="column column-1">{{ task.description }}</span>
    <span class="column column-2">{{ task.columnName }}</span>
    <span class="column column-3"
      ><span class="tag" *ngFor="let tagName of task.tagNames">{{
        tagName
      }}</span>
    </span>
    <span class="column column-4">{{ task.createdAt | date }}</span>
    <span class="column column-5">{{ task.updatedAt | date }}</span>
  </div>
</div>
