<form class="form-global" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-wrapper-global" *ngIf="!isEditing" formGroupName="add">
    <label class="form-label-global" for="column-name">Column Name</label>
    <input
      class="form-input-global"
      type="text"
      id="column-name"
      formControlName="name" />
    <div
      *ngIf="getAddControls.name.touched && getAddControls.name.invalid"
      class="text-danger-global">
      <p *ngIf="getAddControls.name.errors?.['required']">Name is required.</p>
    </div>
    <label class="form-label-global">Dot color</label>
    <input type="color" formControlName="dotColor" />
  </div>

  <div *ngIf="isEditing" formGroupName="edit" class="form-wrapper-global">
    <label class="form-label-global" for="edit-column-name">Column name</label>
    <input
      type="text"
      class="form-input-global"
      id="edit-column-name"
      formControlName="name" />
    <div
      *ngIf="getEditControls.name.touched && getEditControls.name.invalid"
      class="text-danger-global">
      <p *ngIf="getEditControls.name.errors?.['required']">Name is required.</p>
    </div>
    <label class="form-label-global">Dot color</label>
    <input type="color" formControlName="dotColor" />
  </div>

  <button type="submit" class="button-global submit-button-global">
    {{ isEditing ? 'Update' : 'Add ' + 'column' }}
  </button>
</form>
