<div class="wrapper">
  <div class="button-wrapper" *ngIf="isOwner$ | async">
    <button
      type="button"
      class="button-global"
      [ngClass]="{ active: tabName === 'peek' }"
      (click)="changeTab('peek')">
      Users
    </button>

    <button
      type="button"
      class="button-global"
      [ngClass]="{ active: tabName === 'add' }"
      (click)="changeTab('add')">
      Add user
    </button>
  </div>

  <form
    class="form-global form"
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    *ngIf="tabName === 'add'">
    <p class="form-message">Find user by his email</p>

    <label class="form-label-global" for="email">Text</label>

    <input
      type="email"
      class="form-input-global"
      id="email"
      formControlName="email"
      placeholder="Search" />

    <p
      class="text-danger-global"
      *ngIf="(form.controls.email.touched || submitted) && form.controls.email.errors?.['required']">
      Name is required
    </p>

    <button class="button-global submit-button-global" type="submit">
      Search
    </button>
  </form>

  <div class="users-wrapper" *ngIf="tabName === 'add'">
    <p class="user-message" *ngIf="(searchedFilteredUsers$ | async) !== null">
      Only users which aren't added to this project are displayed
    </p>

    <p *ngIf="(searchedFilteredUsers$ | async) === null && submitted">
      loading...
    </p>

    <p
      class="text-warning-global"
      *ngIf="(searchedFilteredUsers$ | async)?.length === 0">
      Not found user!
    </p>

    <div
      class="user"
      *ngFor="
        let user of searchedFilteredUsers$ | async;
        trackBy: filteredUser
      ">
      <p>{{ user.email }}</p>

      <button
        type="button"
        class="button-global user-button"
        title="Add"
        (click)="onAddUser(user.id)">
        <img
          ngSrc="../../../assets/plus-solid.svg"
          alt="add"
          height="11"
          width="10" />
      </button>
    </div>
  </div>

  <div *ngIf="tabName === 'peek'">
    <p *ngIf="(projectUsers$ | async) === null">loading...</p>

    <div
      class="user"
      *ngFor="let data of projectUsers$ | async; trackBy: projectUserTrackBy">
      <p>{{ data.user.email }}</p>

      <p *ngIf="data.user.id === (projectId$ | async)">Owner</p>

      <button
        type="button"
        *ngIf="(isOwner$ | async) && (userId$ | async) !== data.user.id"
        class="button-global user-button"
        title="Remove"
        (click)="onRemoveUser(data.user.id)">
        <img
          ngSrc="../../../assets/minus-solid.svg"
          alt="minus"
          height="11"
          width="10" />
      </button>
    </div>
  </div>
</div>
