<div class="block">
  <nav class="nav">
    <h2 class="logo">KanBan</h2>
    <div class="hamburger">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </div>
  </nav>
  <app-form *ngIf="formAddTaskService.isFormOpen"></app-form>
  <main class="main block">
    <div class="boards">
      <ul>
        <li>
          <h2 class="logo">KanBan</h2>
        </li>
        <li>Boards:</li>
        <li *ngFor="let board of boards">
          -
          <button
            type="button"
            class="board-list-item"
            (click)="onSelectBoard($event)"
          >
            {{ board.name }}
          </button>
        </li>
        <li>
          <button
            type="button"
            class="button-global add-task"
            (click)="onOpenForm('board')"
          >
            Add board
          </button>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="container">
        <p class="selected-board">{{ selectedBoard?.name }}</p>
        <div class="buttons">
          <button
            type="button"
            class="button-global"
            (click)="onOpenForm('column')"
          >
            Add column
          </button>
        </div>
      </div>
      <div class="tasks">
        <section class="section" *ngFor="let column of selectedBoard?.columns">
          <h2 class="section-title">{{ column.name }}</h2>
          <button
            type="button"
            class="button-global add-task"
            (click)="onOpenForm('task')"
          >
            Add task
          </button>
          <div class="cards">
            <div class="card" *ngFor="let task of column.tasks">
              <h3>{{ task.title }}</h3>
              <p>{{ task.description }}</p>
              <!-- <p>subtask 1 of 2</p> -->
            </div>
          </div>
        </section>

        <!-- <section class="section">
          <h2 class="section-title">New request</h2>
          <button
            type="button"
            class="button-global add-task"
            (click)="onOpenAddTaskForm()"
          >
            Add task
          </button>
          <div class="cards">
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 0 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
          </div>
        </section>
        <section class="section">
          <h2 class="section-title">In progress</h2>
          <button
            type="button"
            class="button-global add-task"
            (click)="onOpenAddTaskForm()"
          >
            Add task
          </button>
          <div class="cards">
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 1 of 2</p>
            </div>
          </div>
        </section>
        <section class="section">
          <h2 class="section-title">Complete</h2>
          <button
            type="button"
            class="button-global add-task"
            (click)="onOpenAddTaskForm()"
          >
            Add task
          </button>
          <div class="cards">
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 0 of 2</p>
            </div>
          </div>
        </section>
        <section class="section">
          <h2 class="section-title">Complete</h2>
          <button
            type="button"
            class="button-global add-task"
            (click)="onOpenAddTaskForm()"
          >
            Add task
          </button>
          <div class="cards">
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 0 of 2</p>
            </div>
          </div>
        </section>
        <section class="section">
          <h2 class="section-title">Complete</h2>
          <button
            type="button"
            class="button-global add-task"
            (click)="onOpenAddTaskForm()"
          >
            Add task
          </button>
          <div class="cards">
            <div class="card">
              <h3>Title</h3>
              <p>Short description</p>
              <p>subtask 0 of 2</p>
            </div>
          </div>
        </section> -->
      </div>
    </div>
  </main>
</div>
