<nav class="nav">
  <h2 class="logo">KanBan</h2>
  <div class="hamburger" (click)="onMobileNav()">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
  </div>
  <div class="mobile-nav" [ngClass]="{ show: showMobileNav }">
    <ul>
      <li>Boards:</li>
      <li *ngFor="let board of boards">
        -
        <button
          type="button"
          class="board-list-item-mobile"
          (click)="onSelectBoard($event)">
          {{ board.name }}
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button-global add-task mobile-nav-button"
          (click)="onOpenForm('board', $event)">
          Add board
        </button>
      </li>
    </ul>
  </div>
</nav>
<app-form *ngIf="formAddTaskService.isFormOpen"></app-form>
<main class="main">
  <div class="boards">
    <ul>
      <li>
        <h2 class="logo">KanBan</h2>
      </li>
      <li>Boards:</li>
      <li *ngFor="let board of boards">
        -
        <button
          type="button"
          class="board-list-item"
          (click)="onSelectBoard($event)">
          {{ board.name }}
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button-global add-task"
          (click)="onOpenForm('board', $event)">
          Add board
        </button>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="container">
      <p class="selected-board">{{ selectedBoard.name }}</p>
      <div class="buttons">
        <button
          type="button"
          class="button-global"
          (click)="onOpenForm('column', $event)">
          Add column
        </button>
      </div>
    </div>
    <div class="tasks">
      <section class="section" *ngFor="let column of selectedBoard.columns">
        <div class="section-heading">
          <h2 class="section-title">{{ column.name }}</h2>
          <button
            type="button"
            class="context-menu-button"
            (click)="onOpenMenu()">
            <img src="../assets/three-dots-vertical.svg" alt="menu" />
          </button>
          <div class="heading-section-menu" *ngIf="showContextMenu">
            <button type="button">Remove</button>
            <button type="button">Edit</button>
          </div>
        </div>
        <button
          type="button"
          class="button-global add-task"
          (click)="onOpenForm('task', $event)">
          Add task
        </button>
        <div class="cards">
          <div class="card" *ngFor="let task of column.tasks">
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
