@if ({board: boardNameAndTags$ | async, boardNameAndTagsError: boardNameAndTagsError$ | async}; as vm) { @if (!vm.board
&& !vm.boardNameAndTagsError) {
<app-loading-spinner></app-loading-spinner>
} @else if (!vm.board && vm.boardNameAndTagsError) {
<div class="text-center mt-6">
  <span>{{ vm.boardNameAndTagsError }}</span>
</div>
} @else if (vm.board && !vm.boardNameAndTagsError) {
<div class="mx-auto sticky top-0 left-0 pr-4 pt-4 overflow-x-auto">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-4">
      <h2 class="text-3xl">
        {{ vm.board.name }}
      </h2>
      <app-actions></app-actions>
    </div>

    <div class="flex items-center gap-2">
      <app-open-form-button text="Users" type="user"></app-open-form-button>
      <app-open-form-button text="Tasks" type="see-tasks"></app-open-form-button>
      <app-open-form-button text="Profile" type="profile"></app-open-form-button>
      <app-logout-button></app-logout-button>
    </div>
  </div>
  <div
    class="flex items-center flex-col-reverse md:grid md:grid-cols-2 md:flex-row md:justify-between w-full py-4 gap-2">
    <app-filter-menu [tags]="(tags$ | async) ?? []" (changeSelectionEvent)="changeSelection($event)"></app-filter-menu>
    <div class="flex items-center w-full gap-2 md:justify-end">
      <mat-button-toggle-group #group class="border-none !rounded-2xl">
        <mat-button-toggle [checked]="true" class="!bg-dark-gray" matTooltip="Change to kanban view">
          <mat-icon>view_kanban</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle class="!bg-dark-gray" matTooltip="Change to table view">
          <mat-icon>table_view</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <!-- <select class="button-global button" [(ngModel)]="sortBy">
        <option [value]="{ column: 'title', direction: 'asc' }" hidden>Title A-Z</option>
        <option [ngValue]="{ column: 'title', direction: 'asc' }">Title A-Z</option>
        <option [ngValue]="{ column: 'title', direction: 'des' }">Title Z-A</option>
        <option [ngValue]="{ column: 'updatedAt', direction: 'asc' }">UpdatedAt asc</option>
        <option [ngValue]="{ column: 'updatedAt', direction: 'des' }">UpdatedAt des</option>
        <option [ngValue]="{ column: 'createdAt', direction: 'asc' }">CreatedAt asc</option>
        <option [ngValue]="{ column: 'createdAt', direction: 'des' }">CreatedAt des</option>
      </select>  -->
      <input
        type="text"
        aria-label="search task by title"
        placeholder="Search by title"
        class="rounded-lg text-lg px-2 h-12 w-40 focus:w-96 transition-[width]"
        name="searchTerm"
        autocomplete="off"
        [(ngModel)]="searchTerm" />
    </div>
  </div>
</div>
} }
