<form class="form-global" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-wrapper-global" *ngIf="!isEditing" formGroupName="add">
    <label class="form-label-global" for="board-name">Board Name</label>
    <input
      class="form-input-global"
      type="text"
      id="board-name"
      formControlName="name" />
    <p
      class="text-danger-global"
      *ngIf="(getAddControls.name.touched || submitted) && getAddControls.name.errors?.['required']">
      Name is required
    </p>
  </div>

  <div *ngIf="isEditing" formGroupName="edit" class="form-wrapper-global">
    <label for="edit-board-name">Board name</label>
    <input
      type="text"
      class="form-input-global"
      id="edit-board-name"
      formControlName="name" />
    <p
      class="text-danger-global"
      *ngIf="(getEditControls.name.touched || submitted) && getEditControls.name.errors?.['required']">
      Name is required
    </p>
  </div>

  <button type="submit" class="button-global submit-button-global">
    {{ isEditing ? 'Update' : 'Add ' + 'board' }}
  </button>
</form>
