<app-toast></app-toast>
<app-form></app-form>
<app-context-menu-modal></app-context-menu-modal>
<main
  class="main"
  *ngIf="{
    projects: projects$ | async,
    projectsError: projectsError$ | async,
    selectedBoard: board$ | async
  } as vm">
  <aside class="board-sidebar">
    <h2 class="logo">
      <a routerLink="/">KanBan</a>
    </h2>
    <ng-container *ngIf="!vm.projectsError && vm.projects as projects">
      <div class="board-wrapper">
        <app-accordion [projects]="projects"></app-accordion>
      </div>
      <div class="board-button-wrapper">
        <app-open-form-button
          text="Add project"
          type="project"
          size="wide"></app-open-form-button>
      </div>
    </ng-container>
  </aside>
  <div class="board-details-wrapper">
    <app-board-details [board]="vm.selectedBoard">
      <app-mobile-navigation [projects]="vm.projects"></app-mobile-navigation>
    </app-board-details>
    <app-loading-spinner
      [condition]="!vm.projectsError && !vm.projects"></app-loading-spinner>
    <div class="error-wrapper" *ngIf="vm.projectsError as error">
      <h2>{{ error }}</h2>
    </div>
  </div>
</main>
