.board-logout-button {
  display: block;
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--black-color);
  transition: opacity 0.3s ease-in-out;
}

.board-logout-button:hover {
  opacity: 0.7;
}
