.board-sidebar {
  display: none;
}

.logo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.logo a {
  color: var(--font-color);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .board-sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-top-right-radius: var(--rounded);
    border-bottom-right-radius: var(--rounded);
    background-color: var(--black-color);
    width: 25rem;
    padding: 1rem 0 1rem 1rem;
    margin-right: 1rem;
  }

  .board-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 1rem;
    height: 100%;
  }

  .board-button-wrapper {
    padding-right: 1rem;
  }

  .board-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .board-logo {
    margin-bottom: 2rem;
  }
}
