.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  overflow-y: auto;
}

.form {
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border-radius: var(--rounded);
  position: absolute;
  inset: 0;
  overflow-y: auto;
  width: 100%;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.form-tags-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.form-tag-wrapper {
  width: 100%;
}

.form-tags-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.form-tags-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.form-tags-button span {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.form-tag-input {
  width: 100%;
}

.form-label {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.task-description {
  width: 100%;
  max-width: 32rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}

.submit-button {
  margin-top: 2rem;
  width: 100%;
}

.close-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.text-danger {
  color: var(--error-color);
}

.text-warning {
  color: var(--error-color);
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .form {
    position: relative;
    width: 500px;
  }

  .task-description {
    max-width: 404px;
  }
}
