<div class="backdrop" (click)="close($event)">
  <div class="form" [formGroup]="boardForm">
    <div class="close-button">
      <button
        type="button"
        class="button-global"
        (click)="onClose()"
        title="Close">
        X
      </button>
    </div>

    <app-project-form *ngIf="typeOfForm === 'project'"></app-project-form>

    <app-board-form *ngIf="typeOfForm === 'board'"></app-board-form>

    <app-column-form *ngIf="typeOfForm === 'column'"></app-column-form>

    <div
      class="form-wrapper"
      *ngIf="typeOfForm === 'task' && !isEditing"
      formGroupName="task">
      <label class="form-label" for="task-name">Task name</label>
      <input
        type="text"
        class="form-input"
        id="task-name"
        formControlName="title" />
      <div
        *ngIf="getControls.task.touched && getControls.task.invalid"
        class="text-danger">
        <div *ngIf="getControls.task.controls.title.errors?.['required']">
          Name is required.
        </div>
      </div>
      <label class="form-label" for="task-description">Short description</label>
      <textarea
        class="task-description form-input"
        id="task-description"
        formControlName="description"></textarea>
      <div
        *ngIf="getControls.task.touched && getControls.task.invalid"
        class="text-danger">
        <div *ngIf="getControls.task.controls.description.errors?.['required']">
          Description is required.
        </div>
      </div>
      <div formArrayName="tags" class="form-tags-wrapper">
        <div class="form-tags-buttons">
          <button
            type="button"
            class="button-global form-tags-button"
            (click)="addTag('task')">
            <span>+</span> Add tag
          </button>
          <button
            type="button"
            class="button-global form-tags-button"
            (click)="removeTag('task')">
            <span>-</span> Remove tag
          </button>
        </div>
        <label class="form-label">Tags</label>
        <div
          class="form-tag-wrapper"
          *ngFor="let _ of tags.controls; let i = index">
          <ng-container [formGroupName]="i">
            <input
              class="form-input form-tag-input"
              type="text"
              aria-label="tag"
              formControlName="name" />
            <input type="color" formControlName="fontColor" name="font" />
            <input
              type="color"
              formControlName="backgroundColor"
              name="background" />
            <div
              *ngIf="getControls.task.touched && getControls.task.invalid"
              class="text-danger">
              <div
                *ngIf="getControls.task.controls.tags.controls[i].errors?.['required']">
                Tag name is required.
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div
      class="form-wrapper"
      *ngIf="typeOfForm === 'subtask' && !isEditing"
      formGroupName="subtask">
      <label for="subtask-name">Subtask name</label>
      <input
        type="text"
        class="form-input"
        id="subtask-name"
        formControlName="name" />
      <div
        *ngIf="getControls.subtask.touched && getControls.subtask.invalid"
        class="text-danger">
        <div *ngIf="getControls.subtask.controls.name.errors?.['required']">
          Name is required.
        </div>
      </div>
    </div>

    <div
      class="form-wrapper"
      *ngIf="typeOfForm === 'subtask' && isEditing"
      formGroupName="editSubtask">
      <label for="edit-subtask-name">Subtask name</label>
      <input
        type="text"
        class="form-input"
        id="edit-subtask-name"
        formControlName="name" />
      <div
        *ngIf="
          getControls.editSubtask.touched && getControls.editSubtask.invalid
        "
        class="text-danger">
        <div *ngIf="getControls.editSubtask.controls.name.errors?.['required']">
          Name is required.
        </div>
      </div>
    </div>

    <div
      *ngIf="isEditing && typeOfForm === 'task'"
      formGroupName="editTask"
      class="form-wrapper">
      <label for="edit-task-title">Task title</label>
      <input
        type="text"
        class="form-input"
        id="edit-task-title"
        formControlName="title" />
      <div
        *ngIf="getControls.editTask.touched && getControls.editTask.invalid"
        class="text-danger">
        <div *ngIf="getControls.editTask.controls.title.errors?.['required']">
          Name is required.
        </div>
      </div>
      <label class="form-label" for="edit-task-description"
        >Short description</label
      >
      <textarea
        class="task-description form-input"
        id="edit-task-description"
        formControlName="description"></textarea>
      <div
        *ngIf="getControls.editTask.touched && getControls.editTask.invalid"
        class="text-danger">
        <div
          *ngIf="getControls.editTask.controls.description.errors?.['required']">
          Description is required.
        </div>
      </div>
      <div formArrayName="tags" class="form-tags-wrapper">
        <div class="form-tags-buttons">
          <button
            type="button"
            class="button-global form-tags-button"
            (click)="addTag('editTask')">
            <span>+</span> Add tag
          </button>
          <button
            type="button"
            class="button-global form-tags-button"
            (click)="removeTag('editTask')">
            <span>-</span> Remove tag
          </button>
        </div>
        <label class="form-label">Tags</label>
        <div
          class="form-tag-wrapper"
          *ngFor="let _ of editTags.controls; let i = index">
          <ng-container [formGroupName]="i">
            <input
              class="form-input form-tag-input"
              type="text"
              aria-label="tag"
              formControlName="name" />
            <input type="color" formControlName="fontColor" name="font" />
            <input
              type="color"
              formControlName="backgroundColor"
              name="background" />
            <div
              *ngIf="getControls.task.touched && getControls.task.invalid"
              class="text-danger">
              <div
                *ngIf="getControls.task.controls.tags.controls[i].errors?.['required']">
                Tag name is required.
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- <p *ngIf="isSubmitted" class="text-warning">Fill input or inputs</p>
    <button type="submit" class="button-global submit-button">
      {{ isEditing ? 'Update' : 'Add ' + typeOfForm }}
    </button> -->
  </div>
</div>
