<div class="wrapper">
  <div class="button-wrapper" *ngIf="isOwner$ | async">
    <button
      type="button"
      class="button-global tab-button"
      [ngClass]="{ active: (tabName$ | async) === 'peek' }"
      (click)="changeTab('peek')">
      Assigned users
    </button>

    <button
      type="button"
      class="button-global tab-button"
      [ngClass]="{ active: (tabName$ | async) === 'assign' }"
      (click)="changeTab('assign')">
      Assign users
    </button>
  </div>

  <div *ngIf="(tabName$ | async) === 'peek'">
    <h3>Users assigned to this task</h3>
    <span class="message" *ngIf="(assignedUsers$ | async)?.length === 0"
      >No one is assigned to this task</span
    >
    <div
      class="assign-user-container"
      *ngFor="let data of assignedUsers$ | async; trackBy: assignedUserTrackBy">
      <div class="assign-user-wrapper">
        <span>{{ data.user.email }}</span>
        <span>{{ data.user.name }}</span>
      </div>
      <button
        *ngIf="isOwner$ | async"
        type="button"
        class="button-global assign-user-button"
        (click)="onRemoveUserFromTask(data.user.id)">
        <img
          ngSrc="../../../assets/minus-solid.svg"
          alt=""
          height="16"
          width="10" />
      </button>
    </div>
  </div>
  <div *ngIf="(tabName$ | async) === 'assign'">
    <h3>Assign user to this task</h3>
    <div
      class="assign-user-container"
      *ngFor="let data of projectUsers$ | async; trackBy: projectUserTrackBy">
      <div class="assign-user-wrapper">
        <span>{{ data.user.email }}</span>
        <span>{{ data.user.name }}</span>
      </div>
      <div class="assign-user-buttons">
        <button
          *ngIf="
            !((assignedUsers$ | async) ?? [] | userIncluded : data.user.id)
          "
          type="button"
          class="button-global assign-user-button"
          (click)="onAddUserToTask(data.user.id)">
          <img
            ngSrc="../../../assets/plus-solid.svg"
            alt=""
            height="16"
            width="10" />
        </button>
        <button
          *ngIf="(assignedUsers$ | async) ?? [] | userIncluded : data.user.id"
          type="button"
          class="button-global assign-user-button"
          (click)="onRemoveUserFromTask(data.user.id)">
          <img
            ngSrc="../../../assets/minus-solid.svg"
            alt=""
            height="16"
            width="10" />
        </button>
      </div>
    </div>
  </div>
</div>
