<app-collapse-button
  [project]="project"
  (toggleMenu)="toggleShowContent($event)"
  [showContent]="showContent"></app-collapse-button>
<ul class="accordion-list" [ngClass]="{ show: showContent }">
  <li *ngFor="let board of project.boards">
    <button
      type="button"
      class="accordion-item"
      [ngClass]="{ highlight: selectedBoardId === board.id }"
      (click)="onSelectBoard(board)">
      {{ board.name }}
    </button>
  </li>
  <p
    class="accordion-item accordion-item-paragraph"
    *ngIf="project.boards.length === 0 && showContent">
    No boards
  </p>
  <li>
    <button
      type="button"
      class="button-global accordion-item-button"
      (click)="onForm('board', project)">
      Add board
    </button>
  </li>
</ul>
