<app-collapse-button
  [project]="project"
  (toggleMenu)="toggleShowContent($event)"
  [showContent]="showContent"></app-collapse-button>
<ul class="accordion-list" [ngClass]="{ show: showContent }">
  <li *ngFor="let board of project.boards">
    <a
      [routerLink]="['/', 'project', project.id, 'board', board.id]"
      type="button"
      class="accordion-item"
      [ngClass]="{ highlight: (selectedBoardId$ | async) === board.id }">
      {{ board.name }}
    </a>
  </li>
  <p
    class="accordion-item accordion-item-paragraph"
    *ngIf="project.boards.length === 0 && showContent">
    No boards
  </p>
  <li>
    <button
      *ngIf="(loggedInUserId$ | async) === project.userId"
      type="button"
      class="button-global accordion-item-button"
      (click)="onForm()">
      Add board
    </button>
  </li>
</ul>
