<app-collapse-button
  [project]="project"
  (toggleMenu)="toggleShowContent($event)"
  [showContent]="showContent"></app-collapse-button>
<ul class="accordion-list" [ngClass]="{ show: showContent }">
  <li *ngFor="let board of project.boards">
    <a
      [routerLink]="['/', 'project', project.id, 'board', board.id]"
      type="button"
      class="accordion-item"
      [ngClass]="{ highlight: (selectedBoardId$ | async) === board.id }"
      (click)="closeMenu()">
      {{ board.name }}
    </a>
  </li>
  <p
    class="accordion-item accordion-item-paragraph"
    *ngIf="project.boards.length === 0 && showContent">
    No boards
  </p>
  <li>
    <app-open-form-button
      [isProtected]="true"
      text="Add board"
      type="board"
      size="compact"
      [parentId]="project.id"></app-open-form-button>
  </li>
</ul>
