.form {
  width: 250px;
}

.form span {
  display: block;
}

.form-button {
  margin-top: 2rem;
  background-color: var(--lighter-background-color);
  transition: opacity 0.3s;
  width: 100%;
}

.form-button:hover {
  opacity: 0.7;
}

.form-label {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.form-input {
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: 'Oswald', sans-serif;
  border: 3px solid transparent;
}

.error {
  border: 3px solid var(--error-color);
  color: var(--error-color);
}

.form-invalid-message {
  color: var(--error-color);
}

.form-error-message {
  margin-top: 1rem;
  color: var(--error-color);
}

.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  background-color: var(--secondary-color);
  color: var(--black-color);
  padding: 1rem 3rem;
  border-radius: var(--rounded);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s linear;
}

.toast.show {
  transform: translateY(0);
}

.toast-message {
  font-size: 1.1rem;
}

.toast-button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--black-color);
  padding: 0.25rem;
  border-radius: var(--rounded);
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 2rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.toast-button:hover {
  background-color: var(--black-color);
  color: var(--font-color);
}

@media (min-width: 548px) {
  .form {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .toast {
    width: max-content;
    bottom: 1rem;
    left: 1rem;
    transform: translateY(calc(100% + 2rem));
  }

  .form {
    width: 450px;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 400px;
  }

  .form-button {
    background-color: var(--black-color);
  }
}

