<form class="form-global form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-wrapper-global"
    *ngIf="(isEditing$ | async) === false"
    formGroupName="add">
    <label class="form-label-global" for="task-name">Task name</label>
    <input
      type="text"
      class="form-input-global"
      id="task-name"
      formControlName="title" />
    <p
      class="text-danger-global"
      *ngIf="(getAddControls.title.touched || submitted) && getAddControls.title.errors?.['required']">
      Name is required
    </p>
    <select
      *ngIf="selectColumn$ | async"
      class="button-global select-input"
      (change)="changeSelectedColumn($event)">
      <option default [value]="undefined">Select column</option>
      <option [value]="column.id" *ngFor="let column of columns$ | async">
        {{ column.name }}
      </option>
    </select>
    <p
      class="text-danger-global"
      *ngIf="submitted && !selectedColumn && (selectColumn$ | async)">
      Column is required
    </p>
    <label class="form-label-global" for="task-description"
      >Short description</label
    >
    <textarea
      class="task-description form-input-global"
      id="task-description"
      formControlName="description"></textarea>
    <p
      *ngIf="
        (getAddControls.description.touched || submitted) && getAddControls.description.errors?.['required']
      "
      class="text-danger-global">
      Description is required
    </p>
    <div formArrayName="tags" class="form-tags-wrapper">
      <div class="form-tags-buttons">
        <button
          type="button"
          class="button-global form-tags-button"
          (click)="addTag('add')">
          <span>+</span> Add tag
        </button>
        <button
          type="button"
          class="button-global form-tags-button"
          (click)="removeTag('add')">
          <span>-</span> Remove tag
        </button>
      </div>
      <div
        class="form-tag-wrapper"
        *ngFor="let _ of addTags.controls; let i = index">
        <ng-container [formGroupName]="i">
          <label class="form-label-global"
            >Tag name
            <input
              class="form-input-global form-tag-input"
              type="text"
              aria-label="tag"
              formControlName="name" />
          </label>

          <div class="form-tag-color-wrapper">
            <label class="form-tag-label">Font</label>
            <input type="color" formControlName="fontColor" name="font" />

            <label class="form-tag-label">Background</label>
            <input
              type="color"
              formControlName="backgroundColor"
              name="background" />
          </div>
          <p
            *ngIf="
              (getAddControls.tags.controls[i].controls.name.touched || submitted) &&
              getAddControls.tags.controls[i].controls.name.errors?.['required']
            "
            class="text-danger-global">
            Tag name is required
          </p>
        </ng-container>
      </div>
      <p
        class="text-danger-global"
        *ngIf="
          getAddControls.tags.length > 3 &&
          (getAddControls.tags.touched || submitted)
        ">
        Max 3 tags
      </p>
    </div>
  </div>

  <div
    *ngIf="isEditing$ | async"
    formGroupName="edit"
    class="form-wrapper-global">
    <label class="form-label-global" for="edit-task-title">Task name</label>
    <input
      type="text"
      class="form-input-global"
      id="edit-task-title"
      formControlName="title" />
    <p
      class="text-danger-global"
      *ngIf="(getEditControls.title.touched || submitted) && getEditControls.title.errors?.['required']">
      Name is required
    </p>
    <label class="form-label-global" for="edit-task-description"
      >Short description</label
    >
    <textarea
      class="task-description form-input-global"
      id="edit-task-description"
      formControlName="description"></textarea>
    <p
      *ngIf="
        (getEditControls.description.touched || submitted) &&
        getEditControls.description.errors?.['required']
      "
      class="text-danger-global">
      Description is required
    </p>
    <div formArrayName="tags" class="form-tags-wrapper">
      <div class="form-tags-buttons">
        <button
          type="button"
          class="button-global form-tags-button"
          (click)="addTag('edit')">
          <span>+</span> Add tag
        </button>
        <button
          type="button"
          class="button-global form-tags-button"
          (click)="removeTag('edit')">
          <span>-</span> Remove tag
        </button>
      </div>
      <div
        class="form-tag-wrapper"
        *ngFor="let _ of editTags.controls; let i = index">
        <ng-container [formGroupName]="i">
          <label class="form-label-global"
            >Tag name
            <input
              class="form-input-global form-tag-input"
              type="text"
              aria-label="tag"
              formControlName="name" />
          </label>
          <div class="form-tag-color-wrapper">
            <label class="form-tag-label">Font</label>
            <input type="color" formControlName="fontColor" name="font" />

            <label class="form-tag-label">Background</label>
            <input
              type="color"
              formControlName="backgroundColor"
              name="background" />
          </div>

          <p
            *ngIf="
              (getEditControls.tags.controls[i].controls.name.touched || submitted) &&
              getEditControls.tags.controls[i].controls.name.errors?.['required']
            "
            class="text-danger-global">
            Tag name is required
          </p>
        </ng-container>
      </div>
      <p
        class="text-danger-global"
        *ngIf="
          getEditControls.tags.length > 3 &&
          (getEditControls.tags.touched || submitted)
        ">
        Max 3 tags
      </p>
    </div>
  </div>

  <button type="submit" class="button-global submit-button-global">
    {{ (isEditing$ | async) ? 'Update' : 'Add ' + 'task' }}
  </button>
</form>
