.form-tags-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.form {
  text-align: center;
}

.form-tag-wrapper {
  width: 100%;
}

.form-tags-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.form-tags-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
}

.form-tags-button span {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.form-tag-input {
  width: 100%;
}

.task-description {
  width: 100%;
  max-width: 32rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}

.form-tag-color-wrapper {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
}

.select-input {
  margin-top: 1rem;
}

.form-button-remove-tag {
  /*background: transparent;*/
  /*border: none;*/
  /*cursor: pointer;*/
  margin: 0;
  /*position: absolute;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*transform: translateX(100%);*/
  padding: 0.4rem 1rem;
}

.form-button-remove-tag img {
  width: 100%;
}

.form-label-tag {
  /*position: relative;*/
  /*grid-template-columns: 1fr 1rem;*/
  /*grid-template-rows: repeat(2, 1fr);*/
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .task-description {
    max-width: 404px;
  }
}
