.collapse-button {
  border: none;
  background: none;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.collapse-button-image {
  width: 2rem;
}

.collapse-button-title {
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
}

@media (min-width: 1024px) {
  .collapse-button {
    margin: 0;
  }

  .collapse-button-image {
    width: 1.5rem;
  }

  .collapse-button-title {
    font-size: 1.5rem;
  }
}
