<div class="table-container" *ngFor="let project of projects">
  <div class="project-name-wrapper">
    <h2>{{ project.name }}</h2>
    <app-actions></app-actions>
  </div>
  <mat-table [dataSource]="project.boards">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/', 'project', project.id, 'board', element.id]">
          {{ element.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="columns">
      <th mat-header-cell *matHeaderCellDef>No. columns</th>
      <td mat-cell *matCellDef="let element">{{ element.columns.length }}</td>
    </ng-container>

    <ng-container matColumnDef="tasks">
      <th mat-header-cell *matHeaderCellDef>No. tasks</th>
      <td mat-cell *matCellDef="let element">
        {{ (element | getTasks).length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="subtasks">
      <th mat-header-cell *matHeaderCellDef>No. subtasks</th>
      <td mat-cell *matCellDef="let element">
        {{ (element | getSubtasks).length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <app-actions></app-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </mat-table>
</div>
<!--<ul class="projects">-->
<!--  <div class="button-container">-->
<!--    &lt;!&ndash;    <app-actions></app-actions>&ndash;&gt;-->
<!--    <div class="mobile-buttons">-->
<!--      <app-open-form-button-->
<!--        text="Tasks"-->
<!--        type="see-tasks"></app-open-form-button>-->
<!--      <app-open-form-button-->
<!--        text="Profile"-->
<!--        type="profile"></app-open-form-button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <li class="message-wrapper" *ngIf="projects?.length === 0">-->
<!--    No projects to display-->
<!--  </li>-->
<!--  <li *ngFor="let project of projects; trackBy: projectTrackBy" class="table">-->
<!--    <div class="project-name-wrapper">-->
<!--      <div class="project-name-container">-->
<!--        <div class="project-heading">-->
<!--          <h2>{{ project.name }}</h2>-->
<!--        </div>-->
<!--        <app-actions></app-actions>-->
<!--        &lt;!&ndash;        <app-open-form-button&ndash;&gt;-->
<!--        &lt;!&ndash;          type="board"&ndash;&gt;-->
<!--        &lt;!&ndash;          text="Add board"&ndash;&gt;-->
<!--        &lt;!&ndash;          size="compact"&ndash;&gt;-->
<!--        &lt;!&ndash;          [redirectToNewBoard]="false"&ndash;&gt;-->
<!--        &lt;!&ndash;          [parentId]="project.id"></app-open-form-button>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row-header row">-->
<!--      <span-->
<!--        *ngFor="let column of columns; let i = index"-->
<!--        [class]="'column-header column-' + i"-->
<!--      >{{ column }}</span-->
<!--      >-->
<!--    </div>-->
<!--    <div *ngIf="project.boards.length === 0" class="message-wrapper">-->
<!--      <p>No boards to display</p>-->
<!--    </div>-->
<!--    <div *ngFor="let board of project.boards; trackBy: boardTrackBy">-->
<!--      <div class="accordion-item">-->
<!--        <div class="row">-->
<!--          <div class="column column-0">-->
<!--            <a [routerLink]="['/', 'project', project.id, 'board', board.id]">-->
<!--              {{ board.name }}-->
<!--            </a>-->
<!--          </div>-->
<!--          <span class="column column-1">{{ board.columns.length }}</span>-->
<!--          <span class="column column-2">{{ (board | getTasks).length }}</span>-->
<!--          <span class="column column-3">{{-->
<!--              (board | getSubtasks).length-->
<!--            }}</span>-->
<!--          <span class="column column-4"><app-actions></app-actions></span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->
