<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label class="form-label" for="email">Email</label>
  <input
    class="form-input"
    type="email"
    id="email"
    name="email"
    [ngClass]="{
      error: formControls.email.invalid && formControls.email.touched
    }"
    placeholder="email@xyz.abc"
    formControlName="email"
    required />
  <p
    class="form-invalid-message"
    *ngIf="formControls.email.invalid && formControls.email.touched">
    Please provide valid email.
  </p>
  <label class="form-label" for="password">Password</label>
  <input
    class="form-input"
    type="password"
    placeholder="•••••••••"
    id="password"
    formControlName="password"
    [ngClass]="{
      error: formControls.password.invalid && formControls.password.touched
    }"
    required />
  <p
    class="form-invalid-message"
    *ngIf="formControls.password.invalid && formControls.password.touched">
    Password should have at least 8 characters
  </p>
  <p class="form-error-message" *ngIf="(status | async) === 'error'">
    {{ errorMessage | async }}
  </p>
  <button type="submit" class="button-global form-button">
    <span *ngIf="(status | async) !== 'loading'">Login</span>
    <span *ngIf="(status | async) === 'loading'">Loading...</span>
  </button>
</form>
