.accordion-body {
  list-style-type: none;
  overflow: hidden;
}

.accordion-wrapper {
  height: 100%;
}

.highlight {
  background-color: var(--lighter-background-color);
  border-radius: var(--rounded);
}
