.context-menu-container {
  /*position: relative;*/
}

.context-menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.context-menu-body {
  padding: 1rem;
  font-size: 0.5rem;
  background-color: var(--black-color);
  border-radius: var(--rounded);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.context-menu-body.show {
  box-shadow: 0 0 0.5rem var(--black-color);
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.context-menu-body-button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--font-color);
  margin: 0.5rem 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.5rem 1rem;
}

.context-menu-body-button img {
  margin-right: 0.5rem;
  height: 1rem;
}

.bi-pencil-square {
  width: 1.5rem;
  margin-right: 0.5rem;
  fill: var(--font-color);
}

.context-menu-body-button:hover {
  background-color: var(--lighter-background-color);
  border-radius: var(--rounded);
}

.context-menu-body div {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.context-menu-body-close {
  border: none;
  background: none;
  color: var(--font-color);
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .context-menu-container {
    position: relative;
  }

  .context-menu-body {
    display: none;
    font-size: 0.8rem;
    align-items: flex-start;
  }

  .context-menu-body.show {
    display: flex;
  }

  .context-menu-body-button {
    font-size: 1.2rem;
    margin: 0;
  }

  .context-menu-body-close {
    font-size: 1.25rem;
  }

  .context-menu-body.show {
    box-shadow: 0 0 0.5rem var(--black-color);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: max-content;
    transform: translateX(-25%);
  }
}
