<div class="container">
  <button
    class="button"
    type="button"
    (click)="add()"
    matTooltip="Add"
    matTooltipPosition="above">
    <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon>
  </button>
  <button
    class="button"
    type="button"
    (click)="edit()"
    matTooltip="Edit"
    matTooltipPosition="above">
    <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>
  </button>
  <button
    class="button"
    type="button"
    (click)="delete()"
    matTooltip="Delete"
    matTooltipPosition="above">
    <mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon>
  </button>
</div>
