.form {
  width: 20rem;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.submit-button {
  margin-top: 2rem;
  width: 100%;
}

.text-danger {
  color: var(--error-color);
}

.text-warning {
  color: var(--error-color);
  margin-top: 1rem;
}
